{
  "swagger": "2.0",
  "info": {
    "description": "This service is a proxy that wrapping up Exasol WebSockets library.",
    "title": "Exasol REST API ",
    "contact": {
      "name": "Exasol REST API GitHub Issues",
      "url": "https://github.com/exasol/exasol-rest-api/issues"
    },
    "license": {
      "name": "MIT License",
      "url": "https://github.com/exasol/exasol-rest-api/blob/main/LICENSE"
    },
    "version": "0.1.0"
  },
  "host": "exapi.contoso.com",
  "basePath": "/api/v1",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/query/{query}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "provide a query and get a result set",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Query the Exasol databse.",
        "parameters": [
          {
            "type": "string",
            "description": "SELECT query",
            "name": "query",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "ExecuteQuery"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}